 
  <!--mobile view
  
  
  <div class="container nav-mobile">
  
  
    <nav class="navbar navbar-expand-md fixed-top">
  
      <div class="nav-logo">
        <img src="logo2.png" alt="">
        <h3>Eduhax</h3></div>
  
        
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
   
           
   
            <li class="nav-item active">
               
              <a class="nav-link ns" href="/index"><span class="icons"><i aria-hidden="true" class="fas fa-home"></i></span> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                 
              <a class="nav-link ns" href="/about"><span class="icons"><i aria-hidden="true" class="fas fa-question-circle"></i></span> About</a>
            </li>
            <li class="nav-item">
              
                <a class="nav-link ns" href="/contact"><span class="icons"> <i aria-hidden="true" class="fas fa-phone"></i></span> Contact</a>
              </li>
            
             <li class="nav-item blog">
                <a class="nav-link ns" href="/blogs"><span class="icons"><i aria-hidden="true" class="fab fa-blogger-b"></i></span>Blogs</a>
              </li> 
           
            </ul>
  
      </div>
  <div class="courses-navbar">
      <li class="nav-item dropdown ns" onmouseout="remove_dropdown_m();" onclick="show_dropdown_m();" onmouseover="show_dropdown_m();">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icons"> <i aria-hidden="true" class="fab fa-discourse"></i></span>Courses
        </a>
        <div class="dropdown-menu dropdown-menu-m dm" style="margin-top: 0;" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" onmouseout="hide_list();" onclick="show_list_m();" onmouseover="show_list_m();" href="#mobile">Design</a>
          <div class="dropdown-menu dropdown-list-m dropdown-design-m" onmouseout="hide_design_m();" onmouseover="show_design_m();">
            <a href="/courselist/fusion 360" class="dropdown-item">fusion360</a>
            <a href="/courselist/iphone" class="dropdown-item">iphone</a>
          </div>
          <a class="dropdown-item" href="#">Film Making</a>
          <a class="dropdown-item" href="#">Development</a>
          <a class="dropdown-item" href="#">Marketing</a>
          <a class="dropdown-item" href="#">It & Software</a>
          <a class="dropdown-item" href="#">Personal Development</a>
          <a class="dropdown-item" href="#">Technology</a>
          <a class="dropdown-item" href="#">Business</a>
        </div>
        
      </li></div>
  
  
  
      <div class="slin">
       
        <ul class="navbar-nav">
          <div class="navabr-nav-div">
        
          <!-- <li class="nav-item search-bar">
            <form method="POST" action="/search">
            <input type="text" name="search" class="search-input" placeholder="  Enter your search" aria-label="search">
             
          </li>
          <li class="nav-item search-bar-icon">
           
           <a class="nav-link btn"><i aria-hidden="true" class="fas fa-search" class="search-bar_submit" aria-label="submit-search"></i></a>
          
          </li>
        </form> 
        
          <li class="nav-item sup" <% if(validd==true) { %>
            onclick="show_hide();" 
            <% } %>>
            <% if(validd==true){ %>
              <a class="nav-link ns" href="#"><span class="icons"><i aria-hidden="true" class="fas fa-users"></i></span><span class="sup-span"><%=displayname %></span></a>
           <% } else { %>
            <a class="nav-link ns" href="/auth/googlee"><span class="icons"><i aria-hidden="true" class="fas fa-users"></i></span><span class="sup-span">signup/login</span></a>
         <% } %>
           
          </li>
  
          
          <li class="nav-item">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
              <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
           </button>
          </li>
        </div>
        </ul>
      
    </div>
  
    
    
    
      </nav>
    
    </div> -->


    <!--mobile view2-->
    
    <div class="container nav-mobile">
  
  
      <nav class="navbar navbar-expand-md fixed-top">
    
        <div class="nav-logo">
          <img src="logo2.png" alt="">
          <h3>Eduhax</h3></div>
    
          
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
     
             
     
              <li class="nav-item active">
                 
                <a class="nav-link ns" href="/index"><span class="icons"><i aria-hidden="true" class="fas fa-home"></i></span> Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                   
                <a class="nav-link ns" href="/about"><span class="icons"><i aria-hidden="true" class="fas fa-question-circle"></i></span> About</a>
              </li>
              <li class="nav-item">
                
                  <a class="nav-link ns" href="/contact"><span class="icons"> <i aria-hidden="true" class="fas fa-phone"></i></span> Contact</a>
                </li>
              
               <li class="nav-item blog">
                  <a class="nav-link ns" href="/blogs"><span class="icons"><i aria-hidden="true" class="fab fa-blogger-b"></i></span>Blogs</a>
                </li> 
             
              </ul>
    
        </div>
    <div class="courses-navbar">
        <li class="nav-item dropdown ns" onmouseout="remove_dropdown();" onclick="show_dropdown();" onmouseover="show_dropdown();">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icons"> <i aria-hidden="true" class="fab fa-discourse"></i></span>Courses
          </a>
          <div class="dropdown-menu dropdown-menu dm" style="margin-top: 0;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" onmouseout="hide_list();" onclick="show_list();" onmouseover="show_list();" href="#mobile">Design</a>
            <div class="dropdown-menu dropdown-list dropdown-design" onmouseout="hide_design();" onmouseover="show_design();">
              <a href="/courselist/fusion 360" class="dropdown-item">fusion360</a>
              <a href="/courselist/iphone" class="dropdown-item">iphone</a>
              <a href="/courselist/nodejs" class="dropdown-item">node js</a>
              <a href="/courselist/adobe xd" class="dropdown-item">ux/ui Design</a>
            </div>
            <a class="dropdown-item" href="#">Film Making</a>
            <a class="dropdown-item" href="#">Development</a>
            <a class="dropdown-item" href="#">Marketing</a>
            <a class="dropdown-item" href="#">It & Software</a>
            <a class="dropdown-item" href="#">Personal Development</a>
            <a class="dropdown-item" href="#">Technology</a>
            <a class="dropdown-item" href="#">Business</a>
          </div>
          
        </li></div>
    
    
    
        <div class="slin">
         
          <ul class="navbar-nav">
            <div class="navabr-nav-div">
          
            <!-- <li class="nav-item search-bar">
              <form method="POST" action="/search">
              <input type="text" name="search" class="search-input" placeholder="  Enter your search" aria-label="search">
               
            </li>
            <li class="nav-item search-bar-icon">
             
             <a class="nav-link btn"><i aria-hidden="true" class="fas fa-search" class="search-bar_submit" aria-label="submit-search"></i></a>
            
            </li>
          </form> -->
          
            <li class="nav-item sup" <% if(validd==true) { %>
              onclick="show_hide();" 
              <% } %>>
              <% if(validd==true){ %>
                <a class="nav-link ns" href="#"><span class="icons"><i aria-hidden="true" class="fas fa-users"></i></span><span class="sup-span"><%=displayname %></span></a>
             <% } else { %>
              <a class="nav-link ns" href="/auth/googlee"><span class="icons"><i aria-hidden="true" class="fas fa-users"></i></span><span class="sup-span">signup/login</span></a>
           <% } %>
             
            </li>
    
            
            <li class="nav-item">
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
             </button>
            </li>
          </div>
          </ul>
        
      </div>
    
      
      
      
        </nav>
      
      </div>


     <!--web view-->

  <div class="container nav-web">


    <nav class="navbar navbar-expand-md fixed-top">
  
      <div class="nav-logo">
        <img src="logo2.png" alt="">
        <h3>Eduhax</h3></div>
  
        
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
   
           
   
            <li class="nav-item active">
               
              <a class="nav-link ns" href="/index"><span class="icons"><i aria-hidden="true" class="fas fa-home"></i></span> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                 
              <a class="nav-link ns" href="/about"><span class="icons"><i aria-hidden="true" class="fas fa-question-circle"></i></span> About</a>
            </li>
            <li class="nav-item">
              
                <a class="nav-link ns" href="/contact"><span class="icons"> <i aria-hidden="true" class="fas fa-phone"></i></span> Contact</a>
              </li>
            
             <li class="nav-item blog">
                <a class="nav-link ns" href="/blogs"><span class="icons"><i aria-hidden="true" class="fab fa-blogger-b"></i></span>Blogs</a>
              </li> 
              
              <li class="nav-item ns"><a class="nav-link" href="#"> <span class="icons"> <i aria-hidden="true" class="fab fa-discourse"></i></span>Courses <i class="fas fa-angle-down"></i></a>
                <ul class="child" style="color: rgb(70, 69, 69);">
                    <li><a href="#">Design <i class="fas fa-angle-right"></i></a>
                        <ul class="child1">
                            <li><a href="/courselist/fusion 360">Fusion 360</a></li>
                            <li><a href="/courselist/iphone">iPhone</a></li>
                           <li> <a href="/courselist/nodejs" class="dropdown-item">node js</a></li>
                          <li><a href="/courselist/adobe xd" class="dropdown-item">ux/ui Design</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Film Making</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">It & Software</a></li>
                    <li><a href="#">Personal Development</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Business</a></li>
                </ul>
            </li>
            </ul>
  
      </div>
  
      <div class="slin">
       
        <ul class="navbar-nav">
          <div class="navabr-nav-div">
        
          <!-- <li class="nav-item search-bar">
            <form method="POST" action="/search">
            <input type="text" name="search" class="search-input" placeholder="  Enter your search" aria-label="search">
             
          </li>
          <li class="nav-item search-bar-icon">
           
           <a class="nav-link btn"><i aria-hidden="true" class="fas fa-search" class="search-bar_submit" aria-label="submit-search"></i></a>
          
          </li>
        </form> -->
        
          <li class="nav-item sup" <% if(validd==true) { %>
            onclick="show_hide();" 
            <% } %>>
            <% if(validd==true){ %>
              <a class="nav-link ns" href="#"><span class="icons"><i aria-hidden="true" class="fas fa-users"></i></span><span class="sup-span"><%=displayname %></span></a>
           <% } else { %>
            <a class="nav-link ns" href="/auth/googlee"><span class="icons"><i aria-hidden="true" class="fas fa-users"></i></span><span class="sup-span">signup/login</span></a>
         <% } %>
           
          </li>
  
        </div>
        </ul>
      
    </div>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
     </button>
    
      </nav>
    
    </div>
  
  
    <!--dashboard-->
  
    <div class="dashboard">
      <% if(validd==true){ %>
        <h2 class="dash-h2 text-center">Dashboard</h2><hr class="hr-line" style="color: rgb(41, 49, 128);">
       <div class="log-d"> <img src=<%=profilepic%>>
        <p class="text-center display-name" ><%= displayname %> </p>
        <p class="text-center gmail"><%=gmail %></p></div>
        <div class="h-c" style="margin-left: 40px; position: absolute;">
        
        <h2 class="enrolled-h2">Enrolled Courses</h2><hr style="margin-top: -10px; margin-left: 1px;" class="hr-line"></div>
  
        <div class="dbc">
        
        <% for(var i=0;i<enrolledcourses.length;i++){ %>
  
        <div class="db-c">
          <div class="db-courses">
        <a href="/courselist/<%=enrolledcourses[i] %>" class="course-name-link">
             <p class="course-names"><i aria-hidden="false" class="fab fa-discourse"></i>&nbsp;<%= enrolledcourses[i] %></p></a>
         
  
       <a href="/courselist/delete/<%=enrolledcourses[i]%>" class="course-name-del"> 
       <!-- <i class="fas fa-minus-circle into"></i></a>-->
  
  
        
     </div><!--<span class="dngr" onclick="rmCourse();">X</span>-->   <span class="btn course-into"><i class="fas fa-window-close"></i></span>
    </div>
    <!-- <hr class="hr-line2" style="margin-top:0; margin-bottom: 0; width: 100% "> -->
    <% } %>
  
   </div>
    
  <div class="log">
    <a href="/auth/logoutt" class="lout">logout</a>
  </div>
  <%  }  %>
    </div>
    <script>
     function show_design() {
      document.querySelector(".dropdown-design").style.display = "block";
    }
    function hide_design() {
      document.querySelector(".dropdown-design").style.display = "none";
    }
     function show_dropdown() {
        document.querySelector(".dropdown-menu").style.display = "block";
      }
      
      
      function remove_dropdown() {
        document.querySelector(".dropdown-menu").style.display = "none";
      }
  
      function show_list() {
        document.querySelector(".dropdown-list").style.display = "block";
      }
      
      
      function hide_list() {
        document.querySelector(".dropdown-list").style.display = "none";
      }
  

      /*mobile 
      function show_design_m() {
      if (a==1) {
          document.querySelector(".dropdown-design-m").style.display = "none";
          return a = 0;
        }else {
          document.querySelector(".dropdown-design-m").style.display = "block";
          return a = 1;
        }
    }
    function hide_design_m() {
      if (a==1) {
          document.querySelector(".dropdown-design-m").style.display = "none";
          return a = 0;
        }else {
          document.querySelector(".dropdown-design-m").style.display = "block";
          return a = 1;
        }
    }
     function show_dropdown_m() {
        if (a==1) {
          document.querySelector(".dropdown-menu-m").style.display = "none";
          return a = 0;
        }else {
          document.querySelector(".dropdown-menu-m").style.display = "block";
          return a = 1;
        }
      }
      
      
      function remove_dropdown_m() {
        if (a==1) {
          document.querySelector(".dropdown-menu-m").style.display = "none";
          return a = 0;
        }else {
          document.querySelector(".dropdown-menu-m").style.display = "block";
          return a = 1;
        }
      }
  
      function show_list_m() {
        if (a==1) {
          document.querySelector(".dropdown-list-m").style.display = "none";
          return a = 0;
        }else {
          document.querySelector(".dropdown-list-m").style.display = "block";
          return a = 1;
        }
      }
      
      
      function hide_list_m() {
        if (a==1) {
          document.querySelector(".dropdown-list-m").style.display = "none";
          return a = 0;
        }else {
          document.querySelector(".dropdown-list-m").style.display = "block";
          return a = 1;
        }
      }
  
    /* $(".dropdown-menu").on("hover", function() {
             $(".dropdown-list").css("display", "block");
      });*/

      /*mobile2 */
      function show_design_m() {
      
          document.querySelector(".dropdown-design-m").style.display = "block";
    }
    function hide_design_m() {
          document.querySelector(".dropdown-design-m").style.display = "block";
    }
     function show_dropdown_m() {
          document.querySelector(".dropdown-menu-m").style.display = "block";
      }
      
      
      function remove_dropdown_m() {
          document.querySelector(".dropdown-menu-m").style.display = "block";
      }
  
      function show_list_m() {
          document.querySelector(".dropdown-list-m").style.display = "block";
      }
      
      
      function hide_list_m() {
          document.querySelector(".dropdown-list-m").style.display = "block";
      }
  
      
      var a = 1 ;
      function show_hide() {
        if (a==1) {
          document.querySelector(".dashboard").style.display = "block";
          return a = 0;
        }else {
          document.querySelector(".dashboard").style.display = "none";
          return a = 1;
        }
      }
  
     
    </script>
  
  <!--<script>
   var danger = document.querySelector(".dngr");
      var courses = document.querySelector(".db-courses");
  
      function rmCourse() {
        courses.remove;
      }
  </script>-->
  
  <script>
  $(document).on('click', '.dngr' , function() {
      $('.db-courses').remove();
    });
  </script>